﻿


<h1>Displaying all the Actions in home contorller</h1>


@Html.ActionLink("Go to Index ", "Index", "Home")
<br />

@Html.ActionLink("Go to Nature page", "Nature", "Home")
<br />

@Html.ActionLink("Go to Random page", "Random", "Home")
<br />

@Html.ActionLink("Go to Greet page", "Greet", "Home")
<br />

@Html.ActionLink("Go to About page", "About", "Home")
<br />

@Html.ActionLink("Go to Payments", "Payment", "Home")
